<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello World</title>
       <link id="MainCss" type="text/css" rel="stylesheet" href="css/style.css" />
       <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    </head>

    <body>
    <h1> Hello World!!!</h1>
    <div id="showToken"></div>
    <input type="button" id="btn" value="getToken" />
    <!-- 
    <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    <h1>Login templates folder</h1>
        <div>
            <p class="greeting-id">The ID is </p>
            <p class="greeting-content">The content is </p>
        </div>
        <span th:text="${animal.name}">  </span>
          <div th:object="${animal}">
		        <p th:text="dfasfdasfd"></p>
		        <p th:text="${animal.age}"></p>
		        <img th:src="@{5.png}" />
		    </div>
		     -->
    </body>
    <script type="text/javascript">
    $("#btn").on("click",function(){
    	$.ajax({
    		url:"/getJwtToekn",
    		type:"GET"
    	}).success(function(data){
    		$("#showToken").text(data);
    	});
    });
    </script>
</html>
